<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="VA_KV_TenantId" value="87ca0e4b-bb02-4c6d-a6b8-099934ff053f"/>
		<add key="VA_KV_ClientId" value="9085ce3c-e066-4b7e-ad1a-dcae79b390ee"/>
		<add key="VA_KV_CertThumbprint" value="ec0491af25509c4d460f43349e4a78bb95ae634e"/>
		<add key="VA_KV_VaultUrl" value="https://va-test-kv.vault.azure.net" />
		<add key="VA_KV_ActiveSlot" value="Secondary" />
	</appSettings>
</configuration>